
/* Fonts google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root{
    --header-height: 3rem;
    /* ====== Color ===========*/

    --first-color: #DA2535;
    --first-color-alt: #de3b49;
    --title-color: #161212;
    --text-color: #5b5757;
    --text-color-light: #8f8a8a;
    --body-color: #fefbfb;
    --container-color: #FFF;

    /*--------- Font and Typography ------------*/
    --body-font: 'Poppins', sans-serif; 
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --h4-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*----font weight -----*/

    --font-semi-bold: 600;
    --font-bold: 700;

    /*----- Margenes ----*/

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*-- z index ---*/

    --z-tooltip: 10;
    --z-fixed: 100;

}

@media screen and (min-width: 968px){
    :root{
        --biggest-font-size: 2rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }

}
/* base */
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


/* Variables Dark theme */

/* Button dark/light */

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,h4,ul,p{
    margin: 0;
}
h1,h2,h3,h4{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
h4{
    color:var(--first-color);
}
ul{
    padding:0;
    list-style: none; 
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/*Class CSS*/
.section{
    padding: 4rem 0 2rem;
}
.section-title, .section-title-center{
    font-size: var(--h2-font-size); 
    color: var(--title-color);
    text-align:center;
    margin-bottom: var(--mb-3);  
}



/*Layout*/
.l-main{
    overflow: hidden;
}
.bd-container{
    transition: 0.5s;
    max-width: 1080px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}
.bd-grid{
    display: grid;
    gap: 1.5rem;
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}


/*-----Layout-----*/

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

}


@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        padding: 2.5rem 0 0;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 0 4px rgba(0,0,0,.1);
        border-radius: 2rem;
        z-index:  var(--z-fixed); 
        text-align: center; 
    }
}

.nav_item{
    margin-bottom: var(--mb-3);
}
.nav_link, .nav_logo, .nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
} 

.nav_logo:hover{
    color: var(--first-color);
}
.nav_link{
    transition: .3s;
}
.nav_link:hover{
    color: var(--first-color);
}

.nav_toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/*----show menu----*/
.show-menu{
    top: calc(var(--header-height) + 1.25rem);
}


/* Active menu link*/
.active-link{
    position: relative;
}

.active-link::before{
    content: '';
    position: absolute;
    bottom: -20%;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}

/*Change background header*/

.scroll-header{
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}


/*-------scroll top ---------*/

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(218, 37, 53, 0.5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrolltop:hover{
    background-color: var(--first-color);
}
.scrolltop_icon{
    font-size: 1.5rem;
    color: var(--body-color);
}
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/* Home Section */

.home_container{
    row-gap: .5rem;
}

.home_img{
    width: 280px;
    justify-self: center;
}
.home_title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-2);
}

.home_description{
    margin-bottom: var(--mb-3);
}
.home_data p{
    margin: 10px;
}
.home_data{
    text-align: center;
}
a.typewrite.home_title{
    color: var(--title-color);
}

/* 
 --------- Button --------------------*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-weight:  var(--font-semi-bold);
    transition: .3s;
}
.button:hover{
    background-color: var(--first-color-alt);
}
.button-link{
    background: none;
    padding: 0;
    color: var(--first-color);

}
.button-link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}

/* Share Section*/

.about_data{
    text-align: center;
}

.about_description{
    margin-bottom: var(--mb-2);
}

.about_img{
   width: 280px; 
   justify-self: center;
}


/* Decoration */


/* Skills */

.skills_container{
    row-gap: 2rem;
    padding: 0 var(--mb-2);
}
.skills_subtitle{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.skills_data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
    z-index: -100;  
    
}

.skills_name{
    text-transform: uppercase;
}
.skills_bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--first-color);
}

.skills_html{
    width: 80%;
}
.skills_css{
    width: 80%;
}
.skills_js{
    width: 60%;
}
.skills_java{
    width: 60%;
}
.skills_php{
    width: 80%;
}
.skills_psd{
    width: 80%;
}
.skills_il{
    width: 80%;
}
.skills_xd{
    width: 70%;
}
.skills_webdesign{
    width: 70%;
}

/*Experience Section*/
.experience_container{
    
   grid-template-columns: repeat(autofit, minmax(220px, 1fr));
    
}

.experience_data{
    text-align: center;
    padding: 1rem 1rem 2rem;
    background-color: --container-color;
    box-shadow: 0 2px 6px rgba(65,11,16,.15);
    border-radius: 1rem;
}

.experience_data:hover{
    box-shadow: 0 3px 12px rgba(65,11,16,.15);
}

.experience_img{
    width: 100px;
}

.experience_title{
    font-size: var(--h3-font-size);
    margin-bottom:var(--mb-1);
}

/* Portfolio */

.portfolio_container{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}
.portfolio_content{
    position: relative;
    display: grid;
    padding: .25rem .75rem .75rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px rgba(65,11,16,.15);
    border-radius: 1rem;
}
.portfolio_content:hover{
    box-shadow: 0 3px 12px rgba(65,11,16,0.15);
}

.portfolio_img{
    justify-self: center;
    margin-bottom: .25rem;
    padding: 10px 0;
}
.portfolio_title, .portfolio_category{
    text-align: center;
}
.portfolio_title{
    font-size: var(--normal-font-size);
}

.portfolio_category{
   font-size: var(--small-font-size);
   margin-bottom: var(--mb-1);
   color: var(--text-color-light);
}
.portfolio_preci{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.portfolio_button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    font-size: 1.25rem;
    padding: .5rem .625rem;
    border-radius: 1rem 0 1rem 0;
}

/*Footer*/
.footer_container.bd-container{
    text-align: center;

}
.footer_content{
    margin: 20px;
}
.footer_content a{
    font-size: var(--h2-font-size);
    margin: 0.5rem;
    color: var(--first-color-alt);
}
.footer_container{
    background-color: var(--title-color);
}
.footer_content h3{
    margin-bottom: 10px;
    color: var(--container-color);
}
/* For full screen images on small screens */
@media screen and (max-width: 575px){
    .home_img, .about_img{
        width: 100%;
    }
    .portfolio_container{
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
    }
    
}
@media screen and (min-width: 576px){
    .home_container, .about_continer, .skills_container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    
    .home_container{
        padding: 5rem 0 0;
    }
    .home_img{
        order:  1;
    }
    .home_data{
        text-align: left;
    }
    .home_data{
        margin-left: 3rem;
    }
    .section-title-center, .about_data{
        text-align: initial;
    }
    .about_img{
        order: -1;
    }
    
    
}

@media screen and (min-width: 769px){
    body{
        margin:0;
    }
    .section{
        padding-top: 7rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav_list{
        display: flex;
        align-items: center;
    }
    .nav_item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .nav_toggle{
        display: none;
    }

    .home_container{
        padding: 7rem 2rem 0;
    }
    .about_container{
        padding: 0 2rem;
    }
    .experience_container{
        grid-template-columns: repeat(2, 1fr);
    }
 

}

@media screen and (min-width: 968px){
    .bd_container{
        margin-left: auto;
        margin-right: auto;
    }
    nav.nav.bd-container, .section, .home_container, .footer_container{
        margin: auto;
    }

    .experience_container{
        grid-template-columns: repeat(2, 1fr);
    }
 
}

@media screen and (min-width: 1025px){
/*Change background header size*/
    .scroll-resize{
        height: var(--header-height) !important;
        font-size: var(--small-font-size);
        transition: 0.5s;
        max-width: 1235px;
    }

}
